:root {
  // Fonts
  --general-font-text: "Inter", sans-serif;
  --general-font-title: "Newake", sans-serif;
  --menu-footer-font: "Gotham", sans-serif;

  // Colors
  --background-dark:#292929;
  --white-text:#fff;

  --white-text-hover: #0282A6;

}