:root {
  // Fonts
  --general-font-text: "Inter", sans-serif;
  --general-font-title: "Newake", sans-serif;
  --second-font-text: "Gotham", sans-serif;

  // Colors
  --background-dark:#292929;
  --white-text:#fff;
  --black-text:#000;
  --grey-text:#303030;

  --white-text-hover: #0282A6;

}